<header>
    <div class="jumbotron sa-header">
        <div class="container">
            <div class="text-center">
                <h1>Saravanakumar</h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/es6-tutorial/">ECMAScript 6 Tutorial</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/css-frameworks-compare/">CSS Frameworks compare</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/online-case-converter/" title="Convet any text between Uppercase, Lowercase, Title Case, snake case, camel case, SEO friendly text">Online case convertor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://saravanakumar.org/blog/">Blog</a>
				</li>
			</ul>
        </div>
    </nav>
</header>
