---
layout: default
title: Blog
category: blog
---

    

<div class="posts-list">
   {% assign post_index = 0 %}
    {% for post in paginator.posts %}
    <article class="postPreviewBox">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="postTitle">{{ post.title }}</h2> {% if post.subtitle %}
            <h3 class="postSubTitle">
                    {{ post.subtitle }}
                </h3> {% endif %}
        </a>

        <p class="postMeta">
            Posted on {{ post.date | date: "%B %-d, %Y" }}
        </p>

        <div class="postPreviewContent">
            {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
            <div class="py-2 center-align">
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-secondary">Read More > </a>
            </div>
        </div>
        <hr>
    {% assign post_index = post_index | plus: 1 %}
    {% if post_index == 1 %}
    <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- github_pages _responsive_1 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2445138966914411" data-ad-slot="1768590408" data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
    </article>
</div>
   
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  <span>{{paginator.page}} of {{paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}   